/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: arial, helvetica, verdana, sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 15px;
  text-align: left;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Title
 */
.site-wrapper .cover-container .inner h2 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

/*
 * Hamburger Menu
 */
.site-wrapper .cover-container .inner h3 {
  float: left;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.menu {
  opacity: 1;
  z-index: 10;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
}

.menu-item {
  border-top: 2px solid white;
  font-size: 50px;
}


.content {
  font-size: 2000px;
}

/* Inbox
*********/
#content .inbox li {
  cursor: pointer;
  height: 75px;
  text-align: left;
  padding: 5px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,4f4f4f+100 */
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(79,79,79,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(79,79,79,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(79,79,79,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(79,79,79,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(79,79,79,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(79,79,79,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}
#content .inbox li:active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4f4f+0,7d7e7d+100 */
  background: rgb(79,79,79); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(79,79,79,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,79,79,1)), color-stop(100%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(125,126,125,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(125,126,125,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(79,79,79,1) 0%,rgba(125,126,125,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}
#content .inbox li .icon {
}
#content .inbox li h3 {
  font-size: 1.5em;
}
#content .inbox li p {
}


/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */